<% if !user_signed_in? %>
  
  <!DOCTYPE html>
  <html lang="en">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
     <title>Turf Booking</title>
     <!-- Site Icons -->
     <link rel="shortcut icon" href="" type="image/x-icon" />
     <link rel="apple-touch-icon" href="">
     <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

     </head>
     <body class="game_info" data-spy="scroll" data-target=".header">
        <div id="preloader">
          <%= image_tag("loading-img.gif", :class => "preloader", :alt=>"") %>
        </div>
        <section id="top">
           <header>
              <div class="container">
                 <div class="header-top">
                    <div class="row">
                       <div class="col-md-6">
                          <div class="full">
                             <div class="logo">
                                <a href="index.html"><%= image_tag("logo.png") %></a>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="right_top_section">
                             <!-- social icon -->
                             <ul class="social-icons pull-left">
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                             </ul>
                             <!-- end social icon -->
                             <!-- button section -->
                             <ul class="login">
                                <li class="login-modal">
                                  <a href=<% new_user_session_path %> class="login"><i class="fa fa-user"></i>Login</a>
                                </li>
                                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                                <li>
                                   <div class="cart-option">
                                      <!-- <a href="#"><i class="fa fa-shopping-cart"></i>Register</a> -->
                                   </div>
                                </li>
                             </ul>
                             <!-- end button section -->
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="header-bottom">
                    <div class="row">
                       <div class="col-md-12">
                          <div class="full">
                             <div class="main-menu-section">
                                <div class="menu">
                                   <nav class="navbar navbar-inverse">
                                      <div class="navbar-header">
                                         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                                         <span class="sr-only">Toggle navigation</span>
                                         <span class="icon-bar"></span>
                                         <span class="icon-bar"></span>
                                         <span class="icon-bar"></span>
                                         </button>
                                         <a class="navbar-brand" href="#">Menu</a>
                                      </div>
                                      <div class="collapse navbar-collapse js-navbar-collapse">
                                         <ul class="nav navbar-nav">
                                            <li class="active"><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="news.html">News</a></li>
                                            <li class="dropdown mega-dropdown">
                                               <a href="match" class="dropdown-toggle" data-toggle="dropdown">Match<span class="caret"></span></a>        
                                               <ul class="dropdown-menu mega-dropdown-menu">
                                                  <li class="col-sm-8">
                                                     <ul>
                                                        <li class="dropdown-header">Men Collection</li>
                                                        <div id="menCollection" class="carousel slide" data-ride="carousel">
                                                           <div class="carousel-inner">
                                                              <div class="item active">
                                                                 <div class="banner-for-match"><a href="#"><%= image_tag("match-banner1.jpg", :class  => "img-responsive") %></a></div>
                                                              </div>
                                                              <!-- End Item -->
                                                              <div class="item">
                                                                 <div class="banner-for-match"><a href="#"><%= image_tag("match-banner1.jpg", :class  => "img-responsive") %></a></div>
                                                              </div>
                                                              <!-- End Item -->
                                                              <div class="item">
                                                                 <div class="banner-for-match"><a href="#"><%= image_tag("match-banner1.jpg", :class  => "img-responsive") %></a></div>
                                                              </div>
                                                              <!-- End Item -->                                
                                                           </div>
                                                           <!-- End Carousel Inner -->
                                                           <!-- Controls -->
                                                           <a class="left carousel-control" href="#menCollection" role="button" data-slide="prev">
                                                           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                           <span class="sr-only">Previous</span>
                                                           </a>
                                                           <a class="right carousel-control" href="#menCollection" role="button" data-slide="next">
                                                           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                           <span class="sr-only">Next</span>
                                                           </a>
                                                        </div>
                                                        <!-- /.carousel -->
                                                     </ul>
                                                  </li>
                                                  <li class="col-sm-4">
                                                     <ul class="menu-inner">
                                                        <li class="dropdown-header">Next Matchs</li>
                                                        <li><a href="#">Contrary vs classical</a></li>
                                                        <li><a href="#">Discovered vs undoubtable</a></li>
                                                        <li><a href="#">Contrary vs classical</a></li>
                                                        <li><a href="#">Discovered vs undoubtable</a></li>
                                                        <li><a href="#">Contrary vs classical</a></li>
                                                        <li><a href="#">Discovered vs undoubtable</a></li>
                                                        <li><a href="#">Contrary vs classical</a></li>
                                                        <li><a href="#">Discovered vs undoubtable</a></li>
                                                     </ul>
                                                  </li>
                                               </ul>
                                            </li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">contact</a></li>
                                         </ul>
                                      </div>
                                      <!-- /.nav-collapse -->
                                   </nav>
                                   <div class="search-bar">
                                      <div id="imaginary_container">
                                         <div class="input-group stylish-input-group">
                                            <input type="text" class="form-control"  placeholder="Search" >
                                            <span class="input-group-addon">
                                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>  
                                            </span>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </header>
           <div class="full-slider">
              <div id="carousel-example-generic" class="carousel slide">
                 <!-- Indicators -->
                 <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                 </ol>
                 <!-- Wrapper for slides -->
                 <div class="carousel-inner" role="listbox">
                    <!-- First slide -->
                    <div class="item active deepskyblue" data-ride="carousel" data-interval="5000">
                       <div class="carousel-caption">
                          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                             <div class="slider-contant" data-animation="animated fadeInRight">
                                <h3>If you Don’t Practice<br>You <span class="color-yellow">Don’t Derserve</span><br>to win!</h3>
                                <p>If you use this site regularly and would like to help keep the site on the Internet,<br>
                                   please consider donating a small sum to help pay..
                                </p>
                                <button class="btn btn-primary btn-lg">Read More</button>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- /.item -->
                    <!-- Second slide -->
                    <div class="item skyblue" data-ride="carousel" data-interval="5000">
                       <div class="carousel-caption">
                          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                             <div class="slider-contant" data-animation="animated fadeInRight">
                                <h3>If you Don’t Practice<br>You <span class="color-yellow">Don’t Derserve</span><br>to win!</h3>
                                <p>You can make a case for several potential winners of<br>the expanded European Championships.</p>
                                <button class="btn btn-primary btn-lg">Button</button>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- /.item -->
                    <!-- Third slide -->
                    <div class="item darkerskyblue" data-ride="carousel" data-interval="5000">
                       <div class="carousel-caption">
                          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                             <div class="slider-contant" data-animation="animated fadeInRight">
                                <h3>If you Don’t Practice<br>You <span class="color-yellow">Don’t Derserve</span><br>to win!</h3>
                                <p>You can make a case for several potential winners of<br>the expanded European Championships.</p>
                                <button class="btn btn-primary btn-lg">Button</button>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- /.item -->
                 </div>
                 <!-- /.carousel-inner -->
                 <!-- Controls -->
                 <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
                 </a>
                 <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
                 </a>
              </div>
              <!-- /.carousel -->
              <div class="news">
                 <div class="container">
                    <div class="heading-slider">
                       <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Top Headlines :</p>
                       <!--made by vipul mirajkar thevipulm.appspot.com-->
                       <h1>
                       <a href="" class="typewrite" data-period="2000" data-type='[ "Contrary to popular belief, Lorem Ipsum is not simply random text.", "Lorem Ipsum is simply dummy text of the printing and typesetting industry.", "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."]'>
                       <span class="wrap"></span>
                       </a>
                       </h1    
                       <span class="wrap"></span>
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <div class="matchs-info">
           <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="row">
                 <div class="full">
                    <div class="matchs-vs">
                       <div class="vs-team">
                          <div class="team-btw-match">
                             <ul>
                                <li>
                                  <%= image_tag("img-03.png", :alt => "") %>
                                  <span>Footbal Team</span>
                                </li>
                                <li class="vs"><span>vs</span></li>
                                <li>
                                  <%= image_tag("img-04.png", :alt => "") %>
                                   <span>Super Team Club</span>
                                </li>
                             </ul>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="row">
                 <div class="full">
                    <div class="right-match-time">
                       <h2>Next Match</h2>
                       <ul id="countdown-1" class="countdown">
                          <li><span class="days">10 </span>Day </li>
                          <li><span class="hours">5 </span>Hours </li>
                          <li><span class="minutes">25 </span>Minutes </li>
                          <li><span class="seconds">10 </span>Seconds </li>
                       </ul>
                       <span>12/02/2017 /19:00pm</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <section id="contant" class="contant">
          <!--  <div class="container">
              <div class="row">
                 <div class="col-lg-4 col-sm-4 col-xs-12">
                    <aside id="sidebar" class="left-bar">
                       <div class="banner-sidebar">
                          <%= image_tag("img-05.png", :class => "img-responsive", :alt => "#") %>
                          <h3>Lorem Ipsum is simply dummy text..</h3>
                       </div>
                    </aside>
                    <h4>Match Fixture</h4>
                    <aside id="sidebar" class="left-bar">
                       <div class="feature-matchs">
                          <div class="team-btw-match">
                             <ul>
                                <li>
                                  <%= image_tag("img-01_002.jpg", class: "img-responsive", :alt => "") %>
                                   <span>Portugal</span>
                                </li>
                                <li class="vs"><span>vs</span></li>
                                <li>
                                   <%= image_tag("", :alt => "") %>
                                   <span>Germany</span>
                                </li>
                             </ul>
                             <ul>
                                <li>
                                   <img src="images/img-03_002.jpg" alt="">
                                   <span>Portugal</span>
                                </li>
                                <li class="vs"><span>vs</span></li>
                                <li>
                                   <img src="images/img-04_003.jpg" alt="">
                                   <span>Germany</span>
                                </li>
                             </ul>
                             <ul>
                                <li>
                                   <img src="images/img-05_002.jpg" alt="">
                                   <span>Portugal</span>
                                </li>
                                <li class="vs"><span>vs</span></li>
                                <li>
                                   <img src="images/img-06.jpg" alt="">
                                   <span>Germany</span>
                                </li>
                             </ul>
                             <ul>
                                <li>
                                   <img src="images/img-07_002.png" alt="">
                                   <span>Portugal</span>
                                </li>
                                <li class="vs"><span>vs</span></li>
                                <li>
                                   <img src="images/img-08.png" alt="">
                                   <span>Germany</span>
                                </li>
                             </ul>
                             <ul>
                                <li>
                                   <img src="images/img-05_002.png" alt="">
                                   <span>Portugal</span>
                                </li>
                                <li class="vs"><span>vs</span></li>
                                <li>
                                   <img src="images/img-06.png" alt="">
                                   <span>Germany</span>
                                </li>
                             </ul>
                          </div>
                       </div>
                    </aside>
                    <h4>Points Table</h4>
                    <aside id="sidebar" class="left-bar">
                       <div class="feature-matchs">
                          <table class="table table-bordered table-hover">
                             <thead>
                                <tr>
                                   <th>#</th>
                                   <th>Team</th>
                                   <th>P</th>
                                   <th>W</th>
                                   <th>L</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>1</td>
                                   <td><img src="images/img-01_004.png" alt="">Liverpool</td>
                                   <td>10</td>
                                   <td>12</td>
                                   <td>20</td>
                                </tr>
                                <tr>
                                   <td>2</td>
                                   <td><img src="images/img-02_002.png" alt="">Chelsea</td>
                                   <td>10</td>
                                   <td>12</td>
                                   <td>20</td>
                                </tr>
                                <tr>
                                   <td>3</td>
                                   <td><img src="images/img-03_003.png" alt="">Norwich City</td>
                                   <td>20</td>
                                   <td>15</td>
                                   <td>20</td>
                                </tr>
                                <tr>
                                   <td>4</td>
                                   <td><img src="images/img-04_002.png" alt="">West Brom</td>
                                   <td>60</td>
                                   <td>10</td>
                                   <td>60</td>
                                </tr>
                                <tr>
                                   <td>5</td>
                                   <td><img src="images/img-05.png" alt="">sunderland</td>
                                   <td>30</td>
                                   <td>06</td>
                                   <td>30</td>
                                </tr>
                                <tr>
                                   <td>1</td>
                                   <td><img src="images/img-01_004.png" alt="">Liverpool</td>
                                   <td>10</td>
                                   <td>12</td>
                                   <td>20</td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </aside>
                    <div class="content-widget top-story" style="background: url(images/top-story-bg.jpg);">
                       <div class="top-stroy-header">
                          <h2>Top Soccer Headlines Story <a href="#" class="fa fa-fa fa-angle-right"></a></h2>
                          <span class="date">July 05, 2017</span>
                          <h2>Other Headlines</h2>
                       </div>
                       <ul class="other-stroies">
                          <li><a href="#">Wenger Vardy won't start</a></li>
                          <li><a href="#">Evans: Vardy just</a></li>
                          <li><a href="#">Pires and Murray </a></li>
                          <li><a href="#">Okazaki backing</a></li>
                          <li><a href="#">Wolfsburg's Rodriguez</a></li>
                          <li><a href="#">Jamie Vardy compared</a></li>
                          <li><a href="#">Arsenal target Mkhitaryan</a></li>
                          <li><a href="#">Messi wins libel case.</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-lg-8 col-sm-8 col-xs-12">
                    <div class="news-post-holder">
                       <div class="news-post-widget">
                          <img class="img-responsive" src="images/img-01_002.jpg" alt="">
                          <div class="news-post-detail">
                             <span class="date">20 march 2016</span>
                             <h2><a href="blog-detail.html">At vero eos et accusamus et iusto odio dignissimos ducimus</a></h2>
                             <p>Just hours after that his grandma had died, Angel Di Maria imagined how she might react if he didn't play</p>
                          </div>
                       </div>
                       <div class="news-post-widget">
                          <img class="img-responsive" src="images/img-02_003.jpg" alt="">
                          <div class="news-post-detail">
                             <span class="date">20 march 2016</span>
                             <h2><a href="blog-detail.html">At vero eos et accusamus et iusto odio dignissimos ducimus</a></h2>
                             <p>Just hours after that his grandma had died, Angel Di Maria imagined how she might react if he didn't play</p>
                          </div>
                       </div>
                    </div>
                    <div class="news-post-holder">
                       <div class="news-post-widget">
                          <img class="img-responsive" src="images/img-03_003.jpg" alt="">
                          <div class="news-post-detail">
                             <span class="date">20 march 2016</span>
                             <h2><a href="blog-detail.html">At vero eos et accusamus et iusto odio dignissimos ducimus</a></h2>
                             <p>Just hours after that his grandma had died, Angel Di Maria imagined how she might react if he didn't play</p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div> -->
        </section>
        <section>
           <div class="container">
              <div class="row">
                 <div class="col-md-12">
                    <div class="full">
                       <div class="main-heading sytle-2">
                          <h2>Video</h2>
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium<br>doloremque laudantium, totam rem aperiam</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <section class="team-holder theme-padding video_section_main middle-bg vedio">
           <div class="container">
              <div class="row">
                 <div class="col-md-12">
                    <div class="full">
                       <div class="match_vedio">
                          <%= image_tag("img-07.jpg", :class => "img-responsive", :alt => "#") %>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <div class="team-holder theme-padding">
           <div class="container">
              <div class="main-heading-holder">
                 <div class="main-heading sytle-2">
                    <h2>Meet Your Team</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium<br>doloremque laudantium, totam rem aperiam</p>
                 </div>
              </div>
              <div id="team-slider">
                 <div class="container">
                    <div class="col-md-3">
                       <div class="team-column style-2">
                          <%= image_tag("img-1-1.jpg", :class => "img-responsive", :alt => "") %>
                          <div class="player-name">
                             <div class="desination-2">Defender</div>
                             <h5>Charles Wheeler</h5>
                             <span class="player-number">12</span>
                          </div>
                          <div class="overlay">
                             <div class="team-detail-hover position-center-x">
                                <p>Lacus vulputate torquent mollis venenatis quisque suspendisse fermentum primis,</p>
                                <ul class="social-icons style-4 style-5">
                                   <li><a class="facebook" href="#" tabindex="0"><i class="fa fa-facebook"></i></a></li>
                                   <li><a class="twitter" href="#" tabindex="0"><i class="fa fa-twitter"></i></a></li>
                                   <li><a class="youtube" href="#" tabindex="0"><i class="fa fa-youtube-play"></i></a></li>
                                   <li><a class="pinterest" href="#" tabindex="0"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                                <a class="btn blue-btn" href=" /soccer/team-detail.html" tabindex="0">View Detail</a>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-3">
                       <div class="team-column style-2">
                          <%= image_tag("img-1-2.jpg", :class => "img-responsive", :alt => "") %>
                          <div class="player-name">
                             <div class="desination-2">Defender</div>
                             <h5>Charles Wheeler</h5>
                             <span class="player-number">12</span>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-3">
                       <div class="team-column style-2">
                          <%= image_tag("img-1-3.jpg", :class => "img-responsive", :alt => "") %>
                          <div class="player-name">
                             <div class="desination-2">Defender</div>
                             <h5>Charles Wheeler</h5>
                             <span class="player-number">12</span>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-3">
                       <div class="team-column style-2">
                          <%= image_tag("img-1-4.jpg", :class => "img-responsive", :alt => "") %>
                          <div class="player-name">
                             <div class="desination-2">Defender</div>
                             <h5>Charles Wheeler</h5>
                             <span class="player-number">12</span>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <footer id="footer" class="footer">
           <div class="container">
              <div class="row">
                 <div class="col-md-4">
                    <div class="full">
                       <div class="footer-widget">
                          <div class="footer-logo">
                          <%= image_tag("footer-logo.png", :class => "img-responsive", :alt => "#") %>
                          </div>
                          <p>Most of our events have hard and easy route choices as we are always keen to encourage new riders.</p>
                          <ul class="social-icons style-4 pull-left">
                             <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                             <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                             <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                             <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-2">
                    <div class="full">
                       <div class="footer-widget">
                          <h3>Menu</h3>
                          <ul class="footer-menu">
                             <li><a href="about.html">About Us</a></li>
                             <li><a href="team.html">Our Team</a></li>
                             <li><a href="news.html">Latest News</a></li>
                             <li><a href="matche.html">Recent Matchs</a></li>
                             <li><a href="blog.html">Our Blog</a></li>
                             <li><a href="contact.html">Contact Us</a></li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-3">
                    <div class="full">
                       <div class="footer-widget">
                          <h3>Contact us</h3>
                          <ul class="address-list">
                             <li><i class="fa fa-map-marker"></i> Lorem Ipsum is simply dummy text of the printing..</li>
                             <li><i class="fa fa-phone"></i> 123 456 7890</li>
                             <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> demo@gmail.com</li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-3">
                    <div class="full">
                       <div class="contact-footer">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d120615.72236587871!2d73.07890527988283!3d19.140910987164396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1527759905404" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="footer-bottom">
              <div class="container">
                 <p>Copyright © 2018 Distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a></p>
              </div>
           </div>
        </footer>
        <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
     </body>
  </html>

<% elsif (user_signed_in? && current_user.admin?) %>

  <!DOCTYPE html>
  <html>

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title><%= yield(:title) %> | Turf Bookings</title>
      <%= csrf_meta_tags %>

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <%= javascript_include_tag 'application' %>
      <%= stylesheet_link_tag    'application', :media => "all" %>
      <%= stylesheet_link_tag    'print', :media => "print" %>

    </head>

    <body class="fixed-nav fixed-nav-basic"> <!-- min sidemenu: mini-navbar-->
    <div id="wrapper">
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <span>
                  <h2 style="font-size: 30px; margin-bottom: 20px; color: #f70b0b">Turf <span style="color: #1ab394; font-weight: 900">Bookings</span></h2>
                </span>
                <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="clear">
                      <span class="block m-t-xs">
                          <strong class="font-bold">RailsOMS Application</strong> <b class="caret"></b>
                      </span>
                  </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                </ul>-->
              </div>
              <div class="logo-element">
                <h2 style="font-size: 10px; margin-top: 0px; margin-bottom: 0px; color: #f70b0b">Turf <span style="color: #1ab394; font-weight: 900">Bookings</span></h2>
              </div>
            </li>
            <li class="landing_link">
              <%= link_to turf_bookings_path do %>
                <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> <span class="label label-warning pull-right">HOME</span></a>
              <% end %>
            </li>
            <li class="active">
              <a href="index.html"><i class="fa fa-shopping-bag"></i> <span class="nav-label">Bookings</span> <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li><%= link_to "All Bookings", turf_bookings_path %></li>
                <li class=""><%= link_to "Add Booking", new_turf_booking_path %></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-cog fa-spin"></i> <span class="nav-label">Profile</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                <li><%= link_to "Change Password", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div id="page-wrapper" class="gray-bg" style="min-height: 600px;">
        <div class="row border-bottom">
          <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
              <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
              <li style="padding: 20px 10px">
                <% if user_signed_in? %>
                  <span class="m-r-sm text-muted"><strong><%= current_user.email %></strong>.</span>
                <% end %>
              </li>
              <li class="pull-right">
                <%= link_to destroy_user_session_path, :method => 'delete' do %>
                    <i class="fa fa-sign-out"></i> Log out
                <% end %>
              </li>
            </ul>
          </nav>
        </div>

        <div class="wrapper wrapper-content">

          <% if notice %>
              <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Notice!</strong> <%= notice %>
              </div>
          <% end %>

          <% if alert %>
              <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Alert!</strong> <%= alert %>
              </div>
          <% end %>

          <%= yield %>

        </div>

        <div class="footer">
          <div class="pull-right">
            BY <strong><span style="color: green">Vikas</span><span style="color:red"> Prasad</span></strong>
          </div>
          <div>
            <strong>Copyright</strong> Turf Bookings &copy; <%= Time.now.year %>
          </div>
        </div>
      </div>
    </div>

    <!-- Mainly scripts -->
    

    <!-- Custom and plugin javascript -->
    <script type="text/javascript">
      $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
      });
    </script>

    <% if notice %>
      <script>
        $(document).ready(function() {
          setTimeout(function() {
            toastr.options = {
              closeButton: true,
              progressBar: true,
              showMethod: 'slideDown',
              timeOut: 4000
            };
            toastr.success('<%= notice %>', 'Notice');
          }, 1300);
        });
      </script>
    <% end %>

    <script>
      $(document).ready(function(){
        $('.dataTables-example').DataTable({
          dom: '<"html5buttons"B>lTfgitp',
          buttons: [
            { extend: 'copy'},
            {extend: 'csv'},
            {extend: 'excel', title: 'ExampleFile'},
            {extend: 'pdf', title: 'ExampleFile'},

            {extend: 'print',
              customize: function (win){
                $(win.document.body).addClass('white-bg');
                $(win.document.body).css('font-size', '10px');

                $(win.document.body).find('table')
                    .addClass('compact')
                    .css('font-size', 'inherit');
              }
            }
          ]

        });
      });
    </script>

    </body>
  </html>

<% elsif (user_signed_in? && current_user.role == "user") %>


<% else %>

  <!DOCTYPE html>
  <html>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Login | RailsOMS</title>
      <%= csrf_meta_tags %>

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <%= stylesheet_link_tag    'application' %>
    </head>

    <body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <div>

        <%= yield %>

      </div>
    </div>

    <div class="footer">
      <div class="pull-right">
        BY <strong><span style="color: green">Vikas</span><span style="color:red"> Prasad</span></strong>
      </div>
      <div>
        <strong>Copyright</strong> Turf Bookings &copy; <%= Time.now.year %>
      </div>
    </div>

    <!-- Mainly scripts -->
    <%= javascript_include_tag 'application' %>

    </body>

  </html>

<% end %>